.App {
  background-color: #141414;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "links . logo" "container container container";
}

#main-links {
  grid-area: links;
  display: grid;
  grid-auto-flow: column;
  justify-self: baseline;
  grid-gap: 20px;
  margin-left: 20px;
  align-self: center;
}

#main-links > a {
  color: white;
  justify-self: start;
  text-decoration: none;
  font-size: 2rem;
}

#logo {
  grid-area: logo;
  display: grid;
  align-self: center;
  justify-self: self-end;
  margin-right: 20px;
  color:#E50615;
  -webkit-text-stroke: medium;
  font-size: 40px;
}

#container {
  grid-area: container;
  display: grid;  
  align-items: stretch;
}



