.App {
  background-color: #141414;
  text-align: center;
}

#main-links {
  display: inline-block;  
  position: absolute;
  left: 0;
  top: 0;
}

#main-links > a {
  color: white;
  margin: 5px;

  text-decoration: none;
  font-size: 1.2rem;
}

#main-links>#logo {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  color:#E50615;
  -webkit-text-stroke: medium;
  font-size: 4vmax;
}