.App {
  background-color: #141414;
  height: 100vh;
}

#main-links {
  display: inline-block;  
  position: relative;
  left: 0;
  top: 0;
}

#main-links > a {
  color: white;
  margin: 5px;

  text-decoration: none;
  font-size: 1.2rem;
}

#logo {
  display: inline-block;
  position: relative;
  text-align: start;
  padding: 10px;
  margin-right: 10px;
  color:#E50615;
  -webkit-text-stroke: medium;
  font-size: 4vmax;
}

@media (max-width: 767px) {                  
  #main-links.hide {
     display: none;
  }
}