@keyframes slide-in-bck-center {
    0% {
      transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }

#landing {
    text-align: center;
}

#landing>h1 {
    font-size: 6vh;
    color: white;
    position: relative;
    top: 20px;
}

.profiles {
    display: inline-block;
    position: relative;
    margin-top: 10vh;
}
.slide-in-bck-center {
	animation: slide-in-bck-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.profiles>a {
    display: inline-block;
}

.profile {
    display: inline-block;
    position: relative;
    height: 120px;
    width: 120px; 
    margin: 10px;
    border-radius: 5px;
    border: 3px solid #141414;
}

.profiles a>p {
    color: white;
    display: block;
    position: relative;
    font-size: 24px;
    margin: 0px;
    text-decoration: none;
}

.profile:hover {
    border: 3px solid white;
    animation: border 0.5s
}