@keyframes slide-in-bck-center {
	0% {
		transform: translateZ(600px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}

.Landing {
	margin-top: 80px;
	text-align: center;
	animation: slide-in-bck-center 0.4s;
}

.Title {
	font-size: 6vh;
	color: white;
	position: relative;
	top: 20px;
}
