#movie-detail {
    display: inline-block;
    text-align: center;
    position: relative;
    top: 50px;
}

#movie-detail>h3 {
    display: block;
    position: relative;
    margin-top: 0px;
    top: 0px;
}


#movie-detail>img {
    display: inline-block;
    position: relative;
    height: 40vmax;
    width: 50vw;
}

#movie-detail>p {
    color: white;
    display: inline-block;
    position: relative;
    /* top: 30px; */
    height: 5vh;
    /* width: 80vw; */
    font-size: 2vmax;
}