.movie {
    display: inline-block;
    padding: 5px;
}

.movie a>img {
    border-radius: 5px;
    width: 150px;
    height: 200px;
    border: 1px solid black;
}

.movie a>img:hover {
    border: 1px solid white;
}

.icon {
    color: white;
    position: relative;
    margin-right: 3px;
    bottom: 175px;
    right: 27px;
    border: none;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
}

.icon:click {
    font-size: 80%;
    transition-duration: 0.3s;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 0.8em;
    align-self: start;
}